$blue: #3461AB;

html, body {
  margin:0;
  height:100%;
  min-height:100%;
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
 flex-shrink: 0;
}

article {
  flex-grow: 1;
  overflow-y: scroll;
}

footer {
  flex-shrink: 0;
}

#iron-router-progress {
  background-color: $blue;
  box-shadow: 0 0 5px $blue;
}

#iron-router-progress.spinner:before {
  border-color: $blue;
}

.collection-item{
  a {
    color: black;
  }
   span{
    display: inline-block;
    .profile-pic{
      margin-right: 10px;
      width: 65px;
    }
    &.person-info{
      position: relative;
      bottom: 19px;
      div{
        font-size: 12px;
        line-height: 25px;
      }
      .company {
        font-weight: lighter;
      }
    }
  }
}
//Individual Contact
.contact-header{
  text-align: center;
}

// TODO: Later
.transitioner {
  overflow: visible;
}
// keeps the face in front ---  TODO: add a super-primary class to always have the highest z-index
.circle{
  z-index: 5;
}
