<head>
  <title>Contacts</title>
 <meta name="apple-mobile-web-app-capable" content="yes”>
 <meta name="viewport" content="width=device-width">
 <meta name="mobile-web-app-capable" content="yes”>
 <meta name="apple-mobile-web-app-status-bar-style" content="black”>
</head>
<body>
</body>

<template name="applicationLayout">
  <header class='application-header'>
    {{> yield 'header'}}
  </header>
  <article class='application-content'>

  <div class='hidden' style="display: none">Some hidden content</div>
    <div id='Contacts'>
    {{#transitioner}}
      {{> yield}}
    {{/transitioner}}
    </div>
    <div id="Calendar">Calendar</div>
    <div id="Settings">Settings</div>
  </article>
  <footer class='application-footer'>
    <ul class="tabs">
      <li class="tab"><a href="#Contacts">Contacts</a></li>
      <li class="tab"><a href="#Calendar">Calendar</a></li>
      <li class="tab"><a href="#Settings">Settings</a></li>
    </ul>
  </footer>
  {{> yield 'ironModal'}}
</template>

<template name="notFoundLayout">
  {{> yield}}
</template>

<template name="loadingLayout">
  {{> yield}}
</template>
